{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{% static 'img/unknown.jpg' %}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->

            <form method="post" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
                <input type="password" class="fadeIn third" name="password1" placeholder="password">
                <input type="password" class="fadeIn fourth" name="password2" placeholder="Confirm password">
                <input type="submit" class="fadeIn fifth" value="Log In">
                {% include 'messages.html' %}
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
    <script>
        document.querySelector(".close").addEventListener('click', () => {
            document.querySelector(".alert").style.display = "none";
        });

    </script>
</body>

</html>